.header {
  display: flex;  
  max-width: 880px;
  max-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 200px;
  color:  rgba(255, 255, 255, 1);
  }
    
.header__title {
  top: 45px;
  }

.header_sub {
  font-weight: lighter;
  margin: 0;
  }