.header {
  display: flex;
  width: 880px;
  height: 74px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  color:  rgba(255, 255, 255, 1);
  margin: 0 auto;
  }

.header__title {
  margin-top: 45px;
  }

.header_subtitle {
  font-size: 0.67em;
  font-weight: lighter;
  margin-top: 25px;
  }

  @media screen and (max-width: 880px) {
    .header {
      display: flex;
      padding-left: 70px;
    }

     }

  @media screen and (max-width: 540px) {
    .header {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-left: 50px;
    }

  }