.main {
    padding-top: 40px;
    margin: 0 200px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 120px;
    color: rgba(255, 255, 255, 1);
}

.profile__image-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 415px;
    padding-left: 30px;
}

.profile__info-content {
    display: flex;
    align-items: center; 
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.profile__occupation {
    width: 415px;
    height: 22px;
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}

.profile__edit-button {
    background-color: black;
    border: 1px solid white;
    
    width: 24px;
    height: 24px;
    margin-left: 18px;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 60%;
}

.profile__edit-image {
    height: 10px;
    width: 10px;
    color: black;
    background-color: black;
    
}

.profile__add-button {
    background-color: black;
    border: 1px solid white;
    width: 150px;
    height: 50px;
}

.profile__add-button:hover {
    opacity: 60%;
    cursor: pointer;  
}

.profile__add-image {
    height: 22px;
    width: 22px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 21px 17px;
    width: 880px;
    margin: 0;
    margin-top: 50px;
    
    }

.gallery__card {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 361px;
    
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

.card__wrapper-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 0 21px;
    height: 79px;
    background-color: white;
    color: black;
    border-radius: 0 0 10px 10px;
}

.card__name {
    width: 246px;
    right: 21px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    background-color: white;
    color: rgba(0, 0, 0, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.card__like-button:hover {
    opacity: 60%;
}

.card__like-button:active .heart-icon {
       color: black;

} 